__pycache__/
*.pyc

requirements.txt

# Environments
.venv/
venv/
.env

# Outputs
results/
*.csv
*.tex
*.pdf

# Compare scripts
compare_simheuristic_vs_det_eval.py
compare_heuristic_vs_MILP.py
MILP_model.py